

//Color Palate
$white: #FFFFFF;
$black: #111111;
$Red: #8C0321;
$yellow: #FFB92E;
$purple: #2F1A45;
$lightPurple: #443158;
$purpleLig: #DDBFE7;


//Layout breakponts
$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;


$headi1: 60px;
$headi2: 45px;
$hedi3: 30px;
$hedi4: 20px;
$hedi5: 40px;
$hedi6: 35px;
$para: 15px;
$btnText: 14px;
$label: 17px;
$narrowText: 12px;


